/* My Design System */

/* Plug and Play Design System */

/* font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&display=swap");

/* -------------------------------- */
/* Custom Properties                */
/* -------------------------------- */

/* root */
:root {
  /* spacing variable */
  --gap: 1rem;

  /* fibonnacci sequence spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 3.25rem;
  --space-xxl: 5.25rem;

  /* color variable */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font size variable */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.075rem;

  /* font weight variable */
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --fw-200: 200;

  /* font families variable */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* -------------------------------- */
/* RESET Style                      */
/* -------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* default font weight */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  /* default line height */
  line-height: 1.5;

  /* default body height */
  min-height: 100vh;

  /* color property */
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));

  /* font property */
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
}

/* make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* make form easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animation for people who've turned the off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    animation-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------- */
/* Utility Classes                  */
/* -------------------------------- */

/* Layout utiltiy */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding: 0 2rem;
  max-width: 60rem;
  margin: auto;
}

.center-child-element {
  display: grid;
  place-items: center;
}

/* column breakpoint */

/* 0-599px device */
.responsive-column {
  grid-template-columns: repeat(2, 1fr);
}

/* 600-904px device */
@media (min-width: 600px) {
  .responsive-column {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 906-1239px device */
@media (min-width: 906px) {
  .responsive-column {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* screen reader utiltiy */

/* visually hide element */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Color Utility */

/* background color */

/* dominant color */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

/* complemantary color */
.bg-accent {
  background-color: hsl(var(--clr-light));
}

/* accent color */
.bg-white {
  background-color: hsl(var(--clr-white));
}

/* text color */

/* text */
.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* Font utility */

/* font family */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

/* letter spacing */
.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

/* text uppercase */
.uppercase {
  text-transform: uppercase;
}

/* text center */
.text-center {
  text-align: center;
}

/* font size */
.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

/* font line height */
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* Spacing Utility */

/* Padding all side */
.padding-xxs {
  padding: var(--space-xxs);
}

.padding-xs {
  padding: var(--space-xs);
}

.padding-sm {
  padding: var(--space-sm);
}

.padding-md {
  padding: var(--space-md);
}

.padding-lg {
  padding: var(--space-lg);
}

.padding-xl {
  padding: var(--space-xl);
}

.padding-xxl {
  padding: var(--space-xxl);
}

/* Vertical padding */
.padding-y-xxs {
  padding: var(--space-xxs) 0;
}

.padding-y-xs {
  padding: var(--space-xs) 0;
}

.padding-y-sm {
  padding: var(--space-sm) 0;
}

.padding-y-md {
  padding: var(--space-md) 0;
}

.padding-y-lg {
  padding: var(--space-lg) 0;
}

.padding-y-xl {
  padding: var(--space-xl) 0;
}

.padding-y-xxl {
  padding: var(--space-xxl) 0;
}

/* -------------------------------- */
/* COMPONENTS                       */
/* -------------------------------- */

/* numbered title component */
.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.75px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

/* large button component */
.large-button {
  position: relative;
  display: grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button:after {
  content: " ";
  position: absolute;
  z-index: -1;
  background-color: hsl(var(--clr-white) / 0.15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  transform: scale(1.5);
  opacity: 1;
}

/* navbar component */
.primary-navigation {
  --gap: 8rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: var(--fw-700);
  margin-right: 0.5em;
}

/* underline component */
.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-light) / 0);
  transition: border-color 250ms ease-in-out;
}

.underline-indicators > .active {
  border-color: hsl(var(--clr-white) / 1);
}

.underline-indicators > *:hover,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

/* tab list component */
.tab-list {
  --gap: 3em;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5rem;
  background-color: hsl(var(--clr-white) / 0.25);
  transition: background-color 400ms ease-in-out;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

/* numbers indicator component */
.number-indicators > * {
  /* center inner element */
  display: grid;
  place-items: center;

  font-family: var(--ff-serif);
  width: 5rem;
  height: 5rem;
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-white));
  margin-bottom: 0.5rem;
  border: 0.02rem solid hsl(var(--clr-white));
  border-radius: 50%;
}

.number-indicators > span {
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
  background-color: hsl(var(--clr-dark) / 0.5);
}

.number-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
}
